<div class="span9">
  <div class="hero-unit" align="center">
    <h1><%= @list.title %></h1>
    <% @list.tasks.each do |task| %>
      <li><%= task.description %></li>
    <% end %>
  </div>
</div>
<div class="span3">
  <div class="well" align="center">
    <h2> Add tasks to your list </h2>
    <br>
    <%= form_for [@list,@task] do |f| %>
      <%= f.label :description %>
      <%= f.text_field :description, :style => "width: 175px" %>
      <br>
      <%= f.hidden_field :list_id, :value => params[:id] %>
      <%= f.submit class: "btn btn-primary"%>
    <% end %>
  </div>
</div>